header {
    display: flex;
    justify-content: flex-start;
   align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    justify-content: space-between;
    width: auto;
    margin: 15px;
    padding: 5px;
    flex-direction: row;
}
nav ul li a {
    text-decoration: none;
}

header > form {
    flex-grow: 0.8;
    margin: 15px;
    padding: 5px;
}

header > nav {
    flex-grow: 0.5;
}
header > img{
    flex-grow: 0.2;
       align-items: center;
}

body > footer {
  background:hsl(0, 2%, 26%);
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-family: "lato-light",sans-serif;
}
body > footer > ul>li >a:hover{
  color: black;
}
body > footer > ul>li >a{
  color: white;
}
.imagen{
    width: 1.7vw;
}
.imagen:hover{
    width: 2.5vw;
}
body > footer > ul{
list-style:none;
}
body > main>h2{
text-align:center;
  font-family: "lato",sans-serif;
  font-size: 2em;
}
  
 .contenido {
padding: 80px;
}
    .carousel slide{
  
  }
.centrado{
  text-align:center;
}

body>div>p{font-size: 2em;font-family: "lato",sans-serif;}
body>div>h3{font-size: 6em;}
